!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Axolotl
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    .ui.fixed.inverted.menu
      .ui.container
        .header.item
          Axolotl
        = link_to 'Home', entries_path, class: 'item'
        - if Rails.env.development?
          .right.menu
            = link_to 'Travis', 'https://travis-ci.org/phansch/axolotl', class: 'ui item'
            = link_to 'Pull Requests', 'https://github.com/phansch/axolotl/pulls', class: 'ui item'
            = link_to 'Heroku', 'https://dashboard.heroku.com/apps/axolotl-calendar', class: 'ui item'

    .ui.main.text.container
      = yield
